/* font style  */

@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Lobster&family=Poppins:wght@500;700&family=Roboto:ital@0;1&family=Rubik&display=swap");

* {
  scroll-behavior: smooth;
}

header {
  margin-bottom: 65px;
  /* width: auto;
  height: auto; */
  font-family: "Poppins", sans-serif;
  background-color: #161616;
  border-radius: 30px;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 100px;
  align-items: flex-end;
  padding-top: 20px;
  padding-bottom: 65px;
}
.banner-image img {
  height: 450px;
  /* width: 60%; */
}
.banner-head {
  font-size: 50px;
  padding-bottom: 0px;
}
.banner-info {
  padding-top: 0;
  padding-bottom: 15px;
  font-size: 12px;
}
.banner-button {
  background-color: #dd0000;
  height: 55px;
  width: 180px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 70px;
}
.banner-button:hover {
  cursor: pointer;
}
.fa-arrow-up-right-from-square {
  padding-left: 20px;
}
.container {
  display: flex;
  flex-direction: row;
  /* width: 50%; */
}
.aside-contents {
  background-color: #161616;
  max-height: 250px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px;
  justify-content: space-evenly;
  border-radius: 10px;
  margin-right: 25px;
}

.aside-button {
  width: 225px;
  height: 50px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.aside-button a {
  text-decoration: none;
  color: black;
}
.aside-button:hover {
  cursor: pointer;
  background-color: #dd0000;
}

.match-live-icons {
  display: flex;
  padding-bottom: 20px;
}
.match-live-icons-one {
  padding-right: 30px;
  padding-left: 20px;
}
.match-live {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 25px;
  column-gap: 25px;
}
.match-live-contents {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.match-live-button {
  padding-left: 20px;
  padding-top: 15px;
  font-family: "Poppins", sans-serif;
  background-color: white;
}
.match-live-button button {
  padding: 5px 20px;
  background-color: white;
  border-radius: 10px;
}
.match-live-info {
  padding-left: 20px;
  font-family: "Poppins", sans-serif;
}
.hidden-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.view-button {
  background-color: #dd0000;
  height: 55px;
  width: 180px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  margin-top: 70px;
  border: none;
  /* display: none; */
}

.footer-container {
  width: 100%;
  background-color: #161616;
  color: white;
  font-family: "Poppins", sans-serif;
}
hr {
  width: 80%;
  color: #ffffff1a;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
footer {
  margin-top: 120px;
}
.footer-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-items {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  margin-top: 30px;
}
.footer-icons {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  margin-top: 40px;
  margin-bottom: 30px;
}

/* upcoming section */
.upcoming-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
  align-items: center;
  font-family: "Poppins", sans-serif;
  column-gap: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.upcoming-match-live-contents {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding-bottom: 40px;
}
/* media query mobile */
/* @media only screen and (min-width: 321px) and (max-width: 768px) {
  body {
    ;
  }
} */
